beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
cssselect==1.2.0
docopt==0.6.2
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
lxml==5.3.0
PyYAML==6.0.2
requests==2.32.3
roman-numbers==1.0.2
smmap==5.0.2
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
