beautifulsoup4~=4.9.3
certifi~=2024.2.2
charset~normalizer==3.3.2
cssselect~=1.1.0
docopt~=0.6.2
gitdb~=4.0.11
GitPython~=3.1.42
idna~=3.6
lxml~=4.9.4
PyYAML~=6.0.1
requests~=2.31.0
roman~numbers==1.0.2
smmap~=5.0.1
soupsieve~=2.5
urllib3~=2.2.1
